h1 {
    color:black;
    background-color: cadetblue;
    border: 2px solid black;
    font-size: 22px;
}

p {
    color: red;
}

span {
    color: brown;
}
.span-satu{
    color:brown;
    font-weight:bold
}
.span-dua{
    color:teal;
    font-style:oblique
}
.formatan {
    text-align: center ;
    background-color: blanchedalmond;
    width: 400px;
}
.formatan2 {
    text-align: center ;
    background-color:rebeccapurple;
    width: 400px;
}
.btnku{
    background-color: turquoise;
    font-size: 10px;
    font-weight: bold;
}
.heading-one{
    margin-bottom: 0;
}
.h5{
    color:red;
}